cryptography
fastapi
httpx
pandas
Pillow
prometheus_client
pydantic
pymongo
python-dotenv
redis
Requests
starlette
uvicorn
websockets
opentelemetry-distro
opentelemetry-api
opentelemetry-sdk
gunicorn
