cryptography==40.0.2
fastapi==0.103.1
httpx==0.24.1
pandas==1.5.3
Pillow==9.3.0
Pillow==10.0.0
prometheus_client==0.17.0
pydantic==1.10.7
pymongo==4.3.3
python-dotenv==1.0.0
redis==4.5.5
Requests==2.31.0
starlette==0.31.1
uvicorn==0.23.2
websockets==11.0.3
